# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# ===== Config / Secrets =====
secrets.py
*.env
secrets.json

# ===== Logs =====
*.log

# ===== VS Code =====
.vscode/
.typings/

# ===== macOS system files =====
.DS_Store
.AppleDouble
.LSOverride

# ===== Backup / temp files =====
*.swp
*.bak
*.tmp

# ===== Ignore virtual environments =====
venv/
env/
.venv/
